<%%= form_for [@<%= pr.singular_table_name %>, @<%= singular_table_name %>] do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

  <fieldset>
		<legend><%= class_name %></legend>
		<ul>
<% attributes.each do |attribute| -%>
			<li>
		    <%%= f.label :<%= attribute.name %> %><br />
		    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
			</li>
<% end -%>
		</ul>
  </fieldset>
  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>