<p id="notice"><%%= notice %></p>

<table class="table table-bordered table-striped">
  <tbody>
<% attributes.each do |attribute| -%>
<tr>
	<td><strong><%= attribute.human_name %>:</strong></td>
	<td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
</tr>
<% end -%>
  </tbody>
</table>

<div class="form-actions">
<%%= link_to 'Edit', edit_<%= singular_path %>(@<%= pr.singular_table_name %>, @<%= singular_table_name %>), :class => 'btn btn-primary' %>
<%%= link_to 'Back', <%= index_path %>, :class => 'btn' %>
</div>