<h1>Listing <%= plural_table_name %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
  <% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
  <% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
  <% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
  <% end -%>
      <td>
      	<%%= link_to t(:'links.show'), <%= singular_table_name %>, class: 'btn btn-mini' %>
      	<%%= link_to t(:'links.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-mini' %>
      	<%%= link_to t(:'links.destroy'), <%= singular_table_name %>, confirm: t(:'msg.destroy.confirm'), method: :delete, class: 'btn btn-mini btn-danger' %>
      </td>
    <%% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%%= link_to t(:'links.new_<%= human_name %>'), new_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
</div>