<p id="notice"><%%= notice %></p>

<table class="table table-bordered table-striped">
  <tbody>
<% attributes.each do |attribute| -%>
<tr>
	<td><strong><%= attribute.human_name %>:</strong></td>
	<td><%%= @<%= singular_table_name %>.<%= attribute.name %> %></td>
</tr>
<% end -%>
  </tbody>
</table>

<div class="form-actions">
<%%= link_to t(:'links.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' %>
<%%= link_to t(:'links.back'), <%= index_helper %>_path, :class => 'btn' %>
</div>